header {
    background-image: url("../images/covid-19c.jpg");
    background-repeat: no-repeat;
    background-size:100vw 100vh;
    background-attachment:fixed;
    height: 150px;
}


/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 80%;
      }
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 80%;
        margin: 0;
        padding: 0;
      }

      .ov {
        overflow-x: scroll;
        height: 200px;
      }

.p-c {
    font-size: 12px;
}

  @keyframes rotate {
    to {
      transform: rotate(360deg);
    }
  }
  
  @keyframes grow {
    50% {
      transform: scale(1);
    }
  }
  
    /* Small (sm) */
    @media (min-width: 640px) { }
      
      /* Medium (md) */
     @media (min-width: 768px) { }

     /* Large (lg) */
     @media (min-width: 1024px) { /* ... */ }

     /* Extra Large (xl) */
     @media (min-width: 1280px) { /* ... */}